{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h1>Lets Make NEO Discovery Social</h1>
        
        <div class="panel">
            <h3>1. Discover and Share</h3>
            <p>Submit a report of a NEO and share your findings on Facebook.</p>
        </div>
        
        <div class="panel">
            <h3>2. Observe and Engage</h3>
            <p>Help confirm NEOs from other astronomers.</p>
        </div>

        <div class="panel">
            <h3>3. Experts Confirm</h3>
            <p>With the help of the astronomy community, experts can confirm NEOs.</p>
        </div>
    </div>
</div>

{% endblock %}
