<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">Social NEO</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><a href="/profile">My Profile</a></li>
      <li class="divider"></li>
      <li><a href="/submit">Submit Report</a></li>
      <li class="divider"></li>
      <li><a href="/neo">Discovered NEOs</a></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      
      {% if user.is_authenticated %}
      
      <li><a href="#">Hello {{user.first_name}} {{user.last_name}} <img src="http://graph.facebook.com/{{user.username}}/picture" style="height:25px;"></a></li>
      
      <li class="divider hide-for-small"></li>
      
      <li class="has-form">
        <a class="button" href="{% url socialauth_logout %}">Logout</a>
      </li>
      
      {% else %}
      
      <li class="has-form">
        <a class="button" href="{% url socialauth_begin 'facebook' %}">Login with Facebook</a>
      </li>

      {% endif %}
    </ul>
  </section>
</nav>